<template>
  <v-app>
    <v-main>
      <v-layout row wrap>
        <v-flex column>
          <v-container fill-height fluid>
              <router-view></router-view>
          </v-container>
        </v-flex>
      </v-layout>
    </v-main>

    <v-footer color="secondary">
      <span class="white--text">&copy; VAST Online Sales 2020</span>
    </v-footer>
  </v-app>
</template>

<script>

export default {
  name: 'App',
}
</script>