<template>
  <v-card class="mx-2 my-2">
    <v-card-title class="pa-2 primary-title">
        <v-layout>
            <v-flex xs12>
                {{ Product.name }}
            </v-flex>
            <v-flex xs12 class="text-right">
                    <v-btn icon color="secondary" @click="addCartItem(Product)">
                        <v-icon>mdi-chevron-up</v-icon>
                    </v-btn>
                    <v-btn icon color="secondary" @click="removeCartItem(Product)">
                        <v-icon>mdi-chevron-down</v-icon>
                    </v-btn>
            </v-flex>
        </v-layout>
    </v-card-title>
    <v-card-text class="py-2 pb-0 px-2 body-2">
        <v-layout>
            <v-flex xs12 class="red--text">
                $ {{ Product.price }} each
            </v-flex>
            <v-flex xs12 class="text-right red--text">
                Quantity : {{ Product.quantity }}
            </v-flex>
        </v-layout>
    </v-card-text>

  </v-card>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    name: 'CartListItem',
    props: {
      Product: Object
    },
    methods: {
        ...mapActions(['addCartItem', 'removeCartItem'])
    }
}
</script>