<template>
    <v-card class="mx-6 my-6 pa-3">
        <v-layout>
            <v-flex class="text-center ma-3">
                <v-icon large>mdi-cart</v-icon>
            </v-flex>
        </v-layout>
        <v-layout wrap v-if="cartQuantity > 0">

            <v-flex v-for="product in cartItems" :key="product.productId" class="pa-0" xs12>
                <CartListItem  v-bind:Product="product"/>
            </v-flex>

            <v-flex class="text-center mt-6">
                <v-card-text>
                   These {{ cartQuantity }} Products will cost you : <span class="font-weight-bold" color="primary">$ {{ cartUnTaxedTotal }} - UNTAXED</span>
                </v-card-text>
            </v-flex>
        </v-layout>

        <v-layout v-if="cartQuantity <= 0">
            <v-flex>
                <v-card-text class="text-center">
                    Add Some Products to your cart...
                </v-card-text>
            </v-flex>
        </v-layout>

        <ReceiptModal :activateButton="!cartQuantity > 0"/>
    </v-card>
</template>

<script>
import { mapGetters } from 'vuex';
import CartListItem from './CartListItem.vue';
import ReceiptModal from '../core/ReceiptModal';

export default {
    name: 'CartList',
    components: {
      CartListItem ,
        ReceiptModal 
    },
    computed : {
        ...mapGetters(['cartItems', 'cartQuantity', 'cartUnTaxedTotal'])
    },
}
</script>