<template>
  <v-card class="mx-2 mt-4" min-height="180" @click="addCartItem(Product)">
    <v-card-title class="py-1 pb-0 px-2 primary-title">
      {{ Product.name }}
    </v-card-title>

    <v-card-text class="py-2 pb-0 px-2 body-2">
      Price : <span class="font-weight-bold" color="primary">$ {{ Product.price }}</span>
    </v-card-text>

      <v-card-text>
        <v-layout>
          <v-flex class="mx-3">
              <v-icon v-if="Product.taxable">mdi-check</v-icon>
              <v-icon v-if="!Product.taxable">mdi-close</v-icon>
              <span class="overline font-weight-light"> Taxable </span>
          <br/>
              <v-icon v-if="Product.imported">mdi-check</v-icon>
              <v-icon v-if="!Product.imported">mdi-close</v-icon>
              <span class="overline font-weight-light"> Imported </span>
          </v-flex>
        </v-layout>
      </v-card-text>

      <div class="text-center mb-3">
          Add to cart <v-icon class="mb-3" color="primary">mdi-cart-plus</v-icon> 
      </div>
  </v-card>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    name: 'ProductListItem',
    props: {
      Product: Object
    },
    methods: {
        ...mapActions(['addCartItem'])
    }
}
</script>