<template>
    <v-layout wrap class="mr-6">

        <v-flex v-for="product in products" :key="product.productId" class="pa-0" xs6 sm4 md3>
            <ProductListItem  v-bind:Product="product"/>
        </v-flex>

    </v-layout>
</template>

<script>
import { mapGetters } from 'vuex';
import ProductListItem from './PoductListItem';

export default {
    name: 'ProductList',
    components: {
        ProductListItem
    },
    computed : {
        ...mapGetters(['products'])
    },
}
</script>