<template>
    <div>
        <v-layout>
            <v-flex class="text-center">
                <v-icon large>mdi-account-circle</v-icon>
            </v-flex>
        </v-layout>
        
        <v-divider class="my-6"></v-divider>

        <v-layout wrap>
            <v-flex xs4>
                <CartList />
            </v-flex>
            <v-flex xs8>
                <ProductList />
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
import CartList from '../cart/CartList';
import ProductList from '../product/ProductList';

export default {
    name: 'Home',
    components: {
        CartList,
        ProductList
    }
}
</script>