<template>
  <v-row justify="center">
    <v-dialog v-model="showDialog" persistent max-width="800px">
        
      <template v-slot:activator="{ on }">
        <v-btn class="ma-2" :disabled="activateButton" block large color="primary" v-on="on" @click="processCartOrder(cartItems)"> Process Cart Order (Add Tax) </v-btn>
      </template>

      <v-card>

        <v-card-title>
          MAM Online Sales - Receipt
        </v-card-title>

        <v-card-text v-if="!processingCartOrder && processingCartOrderSuccess">
            <div v-for="receipt in cartReceipt" :key="receipt.name">
                <v-layout>
                    <v-flex>
                        {{ receipt.quantity }} - {{ receipt.name }}
                    </v-flex>

                    <v-flex class="text-right">
                        {{ receipt.price }}
                    </v-flex>
                </v-layout>
                <v-divider></v-divider>
            </div>

            <div class="mt-3">
                <span>Sales Taxes</span> : $ <span>{{ totalSalesTax }} </span>
                <br/>
                <span>Total</span> : $ <span>{{ totalSalesCost }} </span>
            </div>
        </v-card-text>

        <v-card-text v-if="!processingCartOrderSuccess" class="text-center my-6">
            <v-progress-circular :size="70" :width="7" color="primary" indeterminate></v-progress-circular> 
            <br/>
            Processing your order...
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text medium @click="showDialog = false && clearCart()">Done</v-btn>
        </v-card-actions>

      </v-card>

    </v-dialog>
  </v-row>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

  export default {
    name: 'ReceiptModal',
    props: {
      activateButton: Boolean
    },
    data: () => ({
      showDialog: false,
    }),
    computed : {
        ...mapGetters([
          'processingCartOrder', 
          'processingCartOrderSuccess', 
          'cartReceipt', 
          'cartItems', 
          'totalSalesCost', 
          'totalSalesTax'])
    },
    methods: {
        ...mapActions(['processCartOrder', 'clearCart'])
    }
  }
</script>